{% if env in ('prod', 'staging') %}
add_header Content-Security-Policy "default-src 'self' *.last-run.com; style-src 'self' *.last-run.com 'unsafe-inline'; connect-src 'self' wss://api.last-run.com wss://api.last-run.com:443 wss://devapi.last-run.com wss://devapi.last-run.com:443 sentry.io piwik.jujens.eu; script-src 'self' piwik.jujens.eu static.last-run.com; img-src 'self' *.last-run.com piwik.jujens.eu data:; report-uri https://sentry.io/api/1886885/security/?sentry_key=cb804e1967e24ded95666d43afbe6af6; frame-src https://piwik.jujens.eu https://www.youtube.com/; form-action 'none'; frame-ancestors 'none'; base-uri 'self';" always;
{% endif %}
add_header X-Frame-Options DENY;
add_header X-XSS-Protection "1; mode=block";
add_header X-Content-Type-Options nosniff;
{% if env != 'testing' %}
add_header Strict-Transport-Security "max-age=63072000; includeSubdomains" always;
{% endif %}
