{%- set https = env in ('prod', 'staging') -%}

{%- if https -%}
server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx.api.server_name }};
    root {{ nginx.api.root }};

    location /.well-known {
        try_files $uri /$uri =404;
    }

    return 301 https://$http_host$request_uri;
}

{% endif -%}

server {
    server_name {{ nginx.api.server_name }};
    {%- if https %}

    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    {%- else %}

    listen 80;
    listen [::]:80;
    {%- endif %}

    {%- if https %}

    # Inspired by https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/_internal/tls_configs/options-ssl-nginx.conf
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    ssl_certificate /etc/letsencrypt/live/{{ nginx.api.server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx.api.server_name }}/privkey.pem;
    ssl_dhparam /etc/nginx/dhparam.pem;
    {%- endif %}

    access_log /var/log/nginx/aot-api-{{ env }}.access.log;
    error_log /var/log/nginx/aot-api-{{ env }}.error.log;

    root {{ nginx.api.root }};
    index index.html;

    {% block gzip %}
    gzip on; # active la compression Gzip
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6; # Between 1 and 9.
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 256; # Min size of the file to compress.
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/rss+xml text/javascript application/vnd.ms-fontobject font/woff font/woff2 font/opentype image/svg+xml image/x-icon;
    {% endblock %}

    include includes/aot-security-headers-{{ env }}.conf;

    location ~* .(jpg|jpeg|png|gif|ico|css|js|woff|woff2)$ {
        expires 365d;
    }

    location ~* .git {
        return 404;
    }

    # Needed for cerbot to renew its certificates.
    location ~* ^/\.well-known/.+ {
        try_files $request_uri =404;
    }

    location /static {
        add_header 'Access-Control-Allow-Methods' 'GET';
        add_header 'Access-Control-Allow-Origin' "$http_origin";

        try_files $uri $uri.svg =404;
    }

    location /robots.txt {
        try_files /latest/robots.txt =404;
    }

    location /ws {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";

        proxy_pass http://localhost:{{ nginx.api.gateway_port }};
    }

    location / {
        return 404;
    }
}
