{%- set https = env != 'testing' %}
{%- set https = env in ('prod', 'staging') -%}

{%- if env == 'prod' -%}
server {
    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    root {{ nginx.front.root }};
    server_name last-run.com last-run.fr www.last-run.fr;

    # Inspired by https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/_internal/tls_configs/options-ssl-nginx.conf
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    ssl_certificate /etc/letsencrypt/live/last-run.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/last-run.com/privkey.pem;
    ssl_dhparam /etc/nginx/dhparam.pem;

    location /.well-known {
        try_files $uri /$uri =404;
    }

    location / {
        return 301 https://www.last-run.com$request_uri;
    }
}

{% endif -%}

{%- if https -%}
server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx.front.server_name }};
    root {{ nginx.front.root }};

    location /.well-known {
        try_files $uri /$uri =404;
    }

    location / {
        return 301 https://$http_host$request_uri;
    }
}

{% endif -%}

server {
    server_name {{ nginx.front.server_name }};
    {%- if https %}

    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    {%- else %}

    listen 80;
    listen [::]:80;
    {%- endif %}

    {%- if https %}

    # Inspired by https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/_internal/tls_configs/options-ssl-nginx.conf
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    ssl_certificate /etc/letsencrypt/live/{{ nginx.front.server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx.front.server_name }}/privkey.pem;
    ssl_dhparam /etc/nginx/dhparam.pem;
    {%- endif %}

    access_log /var/log/nginx/aot-{{ env }}.access.log;
    error_log /var/log/nginx/aot-{{ env }}.error.log;

    root {{ nginx.front.root }};
    index index.html;

    {% block gzip %}
    gzip on; # active la compression Gzip
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6; # Between 1 and 9.
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 256; # Min size of the file to compress.
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/rss+xml text/javascript application/vnd.ms-fontobject font/woff font/woff2 font/opentype image/svg+xml image/x-icon;
    {% endblock %}

    location / {
        include includes/aot-security-headers-{{ env }}.conf;

        # We are attempting to access to an index file directly.
        # Return it if it exists.
        location ~ ^(/index.*\.html) {
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            try_files $1 =404;
        }

        # These scripts must not be cached for too long or
        # we may encounter problem (bugs or tracking not updated).
        location ~ ^/(tracking.js|Intl.js|robots.txt)$ {
            expires 7d;
            try_files $uri /$uri =404;
        }

        # Set a very long cache on scripts and images since their URL contains their hash making them immutable.
        # We can keep them for as long as we want.
        # That's anything that reaches this point and have an extension.
        location ~ .*\.[a-z]+$ {
            add_header Cache-Control "public, max-age=31536000, immutable";
            try_files $uri /$uri =404;
        }

        # Make sure we use the proper version of the index (and thus assets and scripts)
        # when we are creating or playing a game.
        location ~ ^/game/([^/]+)/(create|play) {
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
	        try_files /index-$1.html @inexistantgameversion;
        }

        # If path doesn't exist, the user wants to reach the site.
        # So we return the default index.
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        try_files /$uri /index.html =404;
    }

    location @inexistantgameversion {
        return 302 /not-found;
    }
}
