{%- set https = env in ('prod', 'staging') -%}

{%- if https -%}
server {
    listen 80;
    listen [::]:80;
    server_name static.last-run.com;
    root {{ nginx.static.root }};

    location /.well-known {
        try_files $uri /$uri =404;
    }

    return 301 https://$http_host$request_uri;
}
{% endif -%}


server {
    server_name static.last-run.com;
    {%- if https %}

    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    {%- else %}

    listen 80;
    listen [::]:80;
    {%- endif %}

    {%- if https %}

    # Inspired by https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/_internal/tls_configs/options-ssl-nginx.conf
    ssl_session_cache shared:le_nginx_SSL:1m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

    ssl_certificate /etc/letsencrypt/live/static.last-run.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/static.last-run.com/privkey.pem;
    ssl_dhparam /etc/nginx/dhparam.pem;
    {%- endif %}

    access_log /var/log/nginx/static.aot.access.log;
    error_log /var/log/nginx/static.aot.error.log;

    root {{ nginx.static.root }};
    charset UTF-8;

    {% block gzip %}
    gzip on; # active la compression Gzip
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6; # Between 1 and 9.
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 256; # Min size of the file to compress.
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/rss+xml text/javascript application/vnd.ms-fontobject font/woff font/woff2 font/opentype image/svg+xml image/x-icon;
    {% endblock %}

    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains" always;
    add_header X-Frame-Options DENY;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options nosniff;
    add_header Cache-Control "public, max-age=31536000, immutable";

    location / {
        add_header 'Access-Control-Allow-Methods' 'GET';
	    add_header 'X-Debug' "$http_origin";
        if ($http_origin ~ "(localhost:[0-9]{4}|.+\.last-run.com)$") {
            add_header 'Access-Control-Allow-Origin' "$http_origin";
        }

        location ~ .*\.(mp4|mp3|ogg|ogv|mkv)$ {
            sendfile           on;
            sendfile_max_chunk 10m;
            tcp_nopush on;
        }
    }
}
